<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;">

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
    <br/>
  
                    <h:form>
                    <ui:include src="menu_i.xhtml"></ui:include>
        </h:form>  
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form>
                        
                                        <p:breadCrumb>
                        <p:menuitem value="Media Files" url="mediafiles.xhtml" />


                        <p:menuitem value="Add Media File" url="AddMediaFile.xhtml" />

                    </p:breadCrumb>
                    
                    
                    <p:panelGrid columns="2" >


                        
                        
                              <p:outputLabel  value="Filename:" />
                        <h:selectOneMenu value="#{mediaFiles.filename}">
    <f:selectItems value="#{mediaFiles.filenames}" />
</h:selectOneMenu>

                        <p:outputLabel  value="FileType:" />


                        <p:selectOneMenu id="consoledsds" value="#{mediaFiles.filetype}" style="width:125px">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Video" itemValue="video" />
                            <f:selectItem itemLabel="Picture" itemValue="picture" />
                            <f:selectItem itemLabel="Sound" itemValue="sound" />

                        </p:selectOneMenu>

                        <p:outputLabel  value="Status:" />


                        <p:selectOneMenu id="console" value="#{mediaFiles.status}" style="width:125px">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Active" itemValue="active" />
                            <f:selectItem itemLabel="Disable" itemValue="disable" />

                        </p:selectOneMenu>

                        <p:commandButton id="savebutton" value="Save" 

                                         action="#{mediaFiles.saveadigitalsign}" 
                                         type="submit"
                                         />

                        <p:commandButton id="savebutton343" value="Cancel" 

                                         action="#{mediaFiles.saveadigitalsignc}" 
                                         type="submit"
                                         />
                    </p:panelGrid>
                    
                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

