<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;">

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
                    <br/>

                    <h:form>
                        <ui:include src="menu_i.xhtml"></ui:include>
                    </h:form>  
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form>
                        <p:panelGrid  style="width:50%">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="7">Send Alert</p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2">Users</p:column>

                                </p:row>

                            </f:facet>

                            <p:row >
                                <p:column colspan="2" style="alignment-baseline: central">
                                    <p:pickList id="pickList" value="#{alertsp.susernames}" var="susernames" itemLabel="#{susernames}" itemValue="#{susernames}" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <p:outputLabel value="Alert Text :"/>
                                    <p:inputText maxlength="60" size="60"/>
                                    <p:button value="Send" >
                                    </p:button>

                                </p:column>
                            </p:row>
                            
                            <p:row>
                                <p:column colspan="2">
                                    
                                    <p:outputLabel for="basicselector" value="Alerts History:" />
                                    <p:selectOneListbox id="basicselector" style="width: 450px">
            <f:selectItem itemLabel="Thomas Room 201 - Move to Meeting Point 1" itemValue="1" />
            <f:selectItem itemLabel="Laura Room 303 - Move to Meeting Point 1" itemValue="2" />
            <f:selectItem itemLabel="Keith Room 405 - Move to Meeting Point 2" itemValue="3" />
        </p:selectOneListbox>
                                    
                                </p:column>
                                
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

