<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;">

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
                    <br/>

                    <h:form>
                        <ui:include src="menu_i.xhtml"></ui:include>
                    </h:form>  
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form>
                        <p:panelGrid  style="width:50%">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="7">Fr Communication</p:column>
                                </p:row>


                            </f:facet>


                            

                            <p:row>
                                <p:column colspan="2">
                                    <p:outputLabel value="FR :"/>
                                    <p:selectOneMenu id="filesss" value="#{frcomm.frsel}" style="width:300px" filter="true" filterMatchMode="startsWith">
                                        <f:selectItem itemLabel="Select FR" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{frcomm.sensorfiles}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column colspan="2">
                                    <p:outputLabel value="SMS Text :"/>
                                    <p:inputText maxlength="400" size="200" value="#{frcomm.smstext}"/>
                                    
                                    


                                </p:column>
                            </p:row>
                            
                            
                                    <p:row>
                                <p:column colspan="2">
                                    <p:commandButton value="Send Message" id="nonssAvvddvdjax" actionListener="#{frcomm.buttonActionph24}" ajax="false" update="grid"/>
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                        
                        <p:dataTable var="car" value="#{frcomm.pdata}" rows="20"
                                     paginator="true"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="10,15,20,25,30,35">
                            <p:column headerText="FR">
                                <h:outputText value="#{car.fr}" />
                            </p:column>

                            <p:column headerText="Message">
                                <h:outputText value="#{car.msg}" />
                            </p:column>

                            <p:column headerText="Status">
                                <h:outputText value="#{car.resp}" />
                            </p:column>


                        </p:dataTable>
                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

