<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;">

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
    <br/>
  
                    <h:form>
                    <ui:include src="menu_i.xhtml"></ui:include>
        </h:form>  
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form>
                        
                    
                    
                        <p:panelGrid columns="2"  style="width:100%">  

 <f:facet name="header">
        Sensor Network Log
 
    </f:facet>
                            <p:dataGrid var="car" value="#{journalview.eventsDTO}" columns="1"
                                        rows="4" paginator="true"
                                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                        rowsPerPageTemplate="4,8,12,16,20"  style="width:500px">

                                

                            </p:dataGrid>
                            <p:panel id="searchcjournal" header="Search" >
                                <p:panelGrid columns="2"   columnClasses="foo">

                                    <h:outputLabel for="inlineCal1" value="From Date:" />
                                    <p:calendar value="#{journalview.date1}"  id="inlineCal1" pattern="MM/dd/yyyy HH:mm" showOn="button"/>

                                    <h:outputLabel for="inlineCal2" value="To Date:" />
                                    <p:calendar value="#{journalview.date2}"  id="inlineCal2" pattern="MM/dd/yyyy HH:mm" showOn="button"/>


                                    <h:outputLabel for="action" value="Severity:" />
                                    <p:selectOneMenu value="#{journalview.jaction}" id="action">  
                                        <f:selectItem itemLabel="FATAL EVENTS" itemValue="" />  
                                        <f:selectItem itemLabel="MINIMAL" itemValue="MINIMAL" />
                                        <f:selectItem itemLabel="MEDIUM" itemValue="MEDIUM" />
                                        <f:selectItem itemLabel="SERIOUS" itemValue="SERIOUS" />
                                        
                                        <f:selectItem itemLabel="SEVERE" itemValue="SEVERE" />
                                        <f:selectItem itemLabel="FATAL" itemValue="FATAL" />
                                        <f:selectItem itemLabel="UNDEFINED" itemValue="UNDEFINED" />

                                    </p:selectOneMenu>  
 

<!--                                    <h:outputLabel for="actor" value="Actor:" />
                                    <p:selectOneMenu value="#{journalview.jactor}" id="actor">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> 

                                    <h:outputLabel for="crisiscontext" value="Crisis Context:" />
                                    <p:selectOneMenu value="#{journalview.jcrisiscontext}" id="crisiscontext">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> 



                                    <h:outputLabel for="operationcenter" value="Operation Center:" />
                                    <p:selectOneMenu value="#{journalview.joperationcenter}" id="operationcenter">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> 


                                    <h:outputLabel for="snapshot" value="Snapshot:" />
                                    <p:selectOneMenu value="#{journalview.jsnapshot}" id="snapshot">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> 


                                    <h:outputLabel for="system" value="System:" />
                                    <p:selectOneMenu value="#{journalview.jsystem}" id="system">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> -->


                                    <f:facet name="footer">  
                                         <p:commandButton id="removelogistics" value="Search" 
                                                     icon="ui-icon-search" style="margin:0"
                                                     action="#{journalview.searchonlist()}" 
                                                     type="submit"
                                                     >
                                             
                        
                    </p:commandButton>
                                        
                                       
                                        
                                    </f:facet> 
                                </p:panelGrid>
                            </p:panel>
                        </p:panelGrid>
                    
                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

