<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"

    xmlns:p="http://primefaces.org/ui">

    <p:menu style="width:99%">

        <p:submenu label="Home">
            <p:menuitem value="Home" action="index.xhtml" ajax="false" />
            <p:menuitem value="Logout" action="index.xhtml" ajax="false" />
        </p:submenu>

        <p:submenu label="Communication Public">
            <p:menuitem value="Deck Phones" action="voip.xhtml" ajax="false" />
            <p:menuitem value="Mobile" action="alerts_1.xhtml" ajax="false" />
            <p:menuitem value="FR" action="frcom.xhtml" ajax="false" />
        </p:submenu>
        
        <p:submenu label="Communication Personnel">
            <p:menuitem value="Tetra" action="tetra.xhtml" ajax="false" />
            <p:menuitem value="Mobile" action="alerts.xhtml" ajax="false" />
        </p:submenu>

        <p:submenu label="Personnel SMS">
            <p:menuitem value="SMS To All" action="smsall.xhtml" ajax="false" />
            <p:menuitem value="SMS In Range" action="smsrange.xhtml" ajax="false" />
        </p:submenu>
        
        <p:submenu label="Signaling">
            <p:menuitem value="Manager" action="ds.xhtml" ajax="false"/>
            <p:menuitem value="Control" action="mmcc.xhtml" ajax="false" />
        </p:submenu>

        <p:submenu label="Content Server">
            <p:menuitem value="Media Files" action="mediafiles.xhtml" ajax="false" />
            
        </p:submenu>

        <p:submenu label="Crisis">
            <p:menuitem value="Manager" action="crisism.xhtml" ajax="false" />
            <p:menuitem value="Logs" action="log.xhtml" ajax="false" />
        </p:submenu>
       
         <p:submenu label="Social">
            <p:menuitem value="Social Manager" action="social.xhtml" ajax="false" />
           
        </p:submenu>
        
        <p:submenu label="System">
            <p:menuitem value="Control" action="evaccontrol.xhtml" ajax="false" />
            <p:menuitem value="Setup" action="setup.xhtml" ajax="false" />
        </p:submenu>
        
    </p:menu>

</ui:composition>