<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <meta charset="utf-8"/>


            <title>EOC Control Center</title>


            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;" >

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
                    <br/>
                    <h:form>
                        <ui:include src="menu_i.xhtml"></ui:include>

                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center">



                    <p:panelGrid columns="3">

                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="Network Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="Media Sign Server" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="FF293-AF637-AA34F" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Room 101" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Online" style="color:green;"/>
                        </p:panelGrid>

                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="Network Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="VOIP Server" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="FF293-AF637-AA34F" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Room 101" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Offline" style="color:red;"/>
                        </p:panelGrid>

                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="Network Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="IPTV Controller" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="3948A-2938F-3294F" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Room 209" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Offline" style="color:red;"/>
                        </p:panelGrid>


                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="Network Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="PA Controller" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="209A1-238F2-3294F" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Room 101" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Offline" style="color:red;"/>
                        </p:panelGrid>


                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="Network Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="Cloud" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="38492-29304-20393" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Server Room" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Online" style="color:green;"/>
                        </p:panelGrid>

                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="Network Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="Database Server" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="19203-32356-53245" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Server Room" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Online" style="color:green;"/>
                        </p:panelGrid>


                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="CobraNet Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="Bilbao Metro Station" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="928AF-AF637-A23AF" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Room 283" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Offline" style="color:red;"/>
                        </p:panelGrid>


                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="CobraNet Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="Bilbao Metro Station" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="999FF-AF637-A33AF" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Room 301" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Offline" style="color:red;"/>
                        </p:panelGrid>


                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="CobraNet Device" />
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="Bilbao Metro Station" />

                            <h:outputText value="Device ID:" />
                            <h:outputText value="FF293-AF637-AA34F" />

                            <h:outputText value="Position:" />
                            <h:outputText value="Room 101" />

                            <h:outputText value="Status:" />
                            <h:outputText value="Offline" style="color:red;" />
                        </p:panelGrid>




                    </p:panelGrid>



                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

